{% extends 'wrapper.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="formw">
            <form name="finder" method="GET" action="/lookup">
                <div class="agew">
                    Age
                    <select id="age" name="age">
                        <option value="baby">Baby</option>
                        <option value="young">Young</option>
                        <option value="adult">Adult</option>
                        <option value="senior">Senior</option>
                    </select>
                </div>
                <div>
                    Zip Code
                    <input type="text" name="location" id="location">
                </div>
                <div>
                    Miles Within
                    <input type="number" name="distance" id="distance">
                </div>
                <div>
                    <input type="submit" value="submit">
                </div>
            </form>
        </div>
    </div>
{% endblock %}